/PrimoServidor/nbproject/private/
/PrimoServidor/build/
/PrimoServidor/dist/
/ServidorPrimo/nbproject/private/
/ServidorPrimo/build/
/ServidorPrimo/dist/
/PrimoServer2/nbproject/private/
/PrimoServer2/build/
/PrimoServer2/dist/
/PrimoService/nbproject/private/
/PrimoService/dist/
/PrimoService/build/
/PrimoCliente/nbproject/private/
/PrimoCliente/build/
/PrimoCliente/dist/
/TrianguloService/nbproject/private/
/TrianguloService/build/
/TrianguloService/dist/
/TrianguloCliente/nbproject/private/
/TrianguloCliente/build/
/TrianguloCliente/dist/
/BaskharaServidor/nbproject/private/
/BaskharaServidor/build/
/BaskharaServidor/dist/
/BhaskaraCliente/nbproject/private/
/BhaskaraCliente/build/
/BhaskaraCliente/dist/
/IMCServidor/nbproject/private/
/IMCServidor/build/
/IMCServidor/dist/
/IMCCliente/nbproject/private/
/IMCCliente/build/
/IMCCliente/dist/
/SenhaService/nbproject/private/
/SenhaService/dist/
/SenhaService/build/
/SenhaCliente/nbproject/private/
/SenhaCliente/build/
/SenhaCliente/dist/