/PrimoServidor/nbproject/private/
/PrimoServidor/build/
/PrimoServidor/dist/
/ServidorPrimo/nbproject/private/
/ServidorPrimo/build/
/ServidorPrimo/dist/
/PrimoServer2/nbproject/private/
/PrimoServer2/build/
/PrimoServer2/dist/
/PrimoService/nbproject/private/
/PrimoService/dist/
/PrimoService/build/
/PrimoCliente/nbproject/private/
/PrimoCliente/build/
/PrimoCliente/dist/